@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Anybody", sans-serif;
    background-color: #dfdfd8;
}

.container{
    width: min(90%, 1120px);
    margin-inline: auto;
}

img{
    width: 100%;
}

header{
    background-color: #fafaf6;
    height: 4.5rem;
    position: sticky;
    top: 0;
    width: 100%;
}

.desktop-menu{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menus-link{
    display: flex;
    gap: 20px;
}

.menus-link li{
    list-style: none;
}

.menus-link li a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: #2b2b2b;
}

.menus-link li a:hover{
    color: #5f6ad4;
}

.desktop-menu h1{
    font-size: 1.5625rem;
    font-weight: 700;
}

.hamburger{
    display: none;
}

.mobile-menu{
    display: none;
}

.mobile-menu-action{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.btn-primary, .btn-secondary{
    display: inline-block;
    background-color: #5f6ad4;
    padding: 30px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
}

.btn-secondary{
    background-color: transparent;
    border: 1px solid white;
}

.hero{
    height: calc(100vh - 4.5rem);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-min-an-1234035.jpg) center / cover no-repeat;
    display: flex;
}

.hero, #container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1{
    font-size: 5rem;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.btn{
   padding: 0.9375rem 3.75rem;
   font-size: 1.25rem;
   background-color: #5f6ad4;
   color: white;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #cecec1;
    color: black;
}

.yoga{
    background:linear-gradient(rgba(152,151,151,0.7), rgb(111, 111, 111,0.5)),url(https://images.pexels.com/photos/2035066/pexels-photo-2035066.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    margin-top: 6rem;
    border-radius: 25px;
    height: 120vh;
    display: flex;
    align-items: flex-end;
}

.yoga .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 728px;
    margin-inline: auto;
    color: white;
    margin-bottom: 7rem;
}

.yoga .content h1{
    font-size: 3.125rem;
    font-weight: 700;
    text-align: center;
}

.yoga .content p{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.info-boxs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-block: 6rem;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
}


.box img{
    border-radius: 15px;
}

.box h1{
    font-size: 1.5625rem;
    color: #2b2b2b;
}

.box p{
  color: #646464;
  font-size: 1.25rem;
}

.perfect-condition{
    height: 438px;
    background: linear-gradient(rgba(152,151,151,0.7), rgb(111, 111, 111,0.5)), url("https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-andrea-piacquadio-3779750.jpeg") center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-attachment: fixed;
}

.perfect-condition h2{
    color: #2a2a2a;
    font-size: 3.125rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.perfect-condition p{
    color: #2b2b2b;
    font-size: 1.25rem ;
    font-weight: 400;
}

.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    margin-block: 6rem;
    margin-inline: 6rem;
}

.blog{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.blog h1{
    color: #2b2b2b;
    font-size: 1.5rem;
}

.blog p{
    color: #646464;
    font-size: 1.25rem;
    margin: 8 0 0;
}

.blog img{
    border-radius: 15px;
}

.yoga-classes{
    height: 355.188px;
    background: linear-gradient(rgba(152,151,151,0.7), rgb(111, 111, 111,0.5)), url("https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-lucas-pezeta-2985098.jpg") center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-block: 5rem;
}

.yoga-box{
    height: 50%;
    border-radius: 10px;
    border: 2px solid #5f6ad4;
    background-color: #dfdfd8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

footer{
    background-color: #2a2a2a;
    color: white;
    font-size: 1.25rem;
    padding: 2rem;
}



/* tablet and mobile phones */
@media(max-width: 768px) {
    .desktop-menu{
        display: none;
    }

    header{
        height: 0;
    }

    i{
        z-index: 1111;
    }

    .hamburger{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: #5f6ad4;
        color: white;
        /* padding: 15px; */
        width: 50px;
        height: 50px;
        top: 7%;
        right: 5%;
        border-radius: 50%;
        font-size: 2rem;
    }

    
    .mobile-menu{
        display: flex;
        justify-content: center;
        position: fixed;
        background-color: #2b2b2b;
        inset: 0 0 0 0;
        color: white;
        transform: translateX(0%);
        transition: transform 350ms ease-in-out;
    }

    .hamburger i[data-visible="true"]{
       display: block;
    }

    .hamburger i[data-visible="false"]{
        display: none;
    }

    .mobile-menu[data-visible="false"] {
        transform: translateX(100%);
    }

    .mobile menu, .navigation{
        margin-top: 17rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2.5rem;
        width: 100%;
    }

    .mobile menu, .navigation, .menus-link{
        display: flex;
        flex-direction: column;
    }
    
    .mobile-menu h1{
        font-size: 2.3125rm;
        font-weight: 700;
        border-bottom: 1px solid white;
        padding: 10px;
    }

    .mobile-menu a{
        color: white !important;
    }

    .hero{
        height: 100vh;
    }

    .hero h1{
        font-size: 3.0625rem;
    }
    .yoga .content{
        padding-left: 1rem;
        margin-bottom: 2rem;
    }
    .yoga .content h1{
        font-size: 2.125rem;
    }
    .yoga .content p{
        font-size: 1.3125rem;
    }

    .info-boxs{
        grid-template-columns: 1fr;
    }
    .perfect-condition h1{
        font-size: 2.125rem;
    }
    .perfect-condition p{
        font-size: 1.125rem;
    }
    .blogs{
        grid-template-columns: 1fr;
    }
    .yoga-box{
        flex-direction: column;
        height: 60%;
    }

    .yoga-box h2{
        font-size: 1.3125rem;
        font-weight: 400;
        padding: 1rem;
    }
}